/* parent of settings and tabs */
.commit-point {
    display: flex;
    flex-direction: row;
    margin: 20px
}

/* parent of details-button and tab-types-options */
.settings {
    flex: none;
    display: flex;
    flex-direction: column;
}
.details-button {
    flex: none;
    background: whitesmoke;
    margin: 2px;
}
.tab-types-options {
    flex: 1
}

/* parent of tabs-nav and (links or show-nothing or no-activeTab */
.tabs {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/* parent of tab with active */
.tabs-nav {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
/* parent of tab-mod and tab-button */
.tab {
    flex: 1;
    width: 0px;
    max-width: 150px;
    margin: 1px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.active > .tab-button{
    border: 2px solid black;
}
.tab-button {
    min-width: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* parent of indicator-button with bg-[color] */
.tab-mod {
    display: flex;
    flex-direction: row
}
.indicator-button {
    flex: 1;
    height: 5px;
}

.bg-green {
    background-color: green
}

.bg-orange {
    background-color: orange
}

.bg-red {
    background-color: red
}

.bg-blue {
    background-color: blue
}
.bg-transparent {
    background-color: transparent;
}

.links{
    flex: 1;
}
.show-nothing{
    flex: 1;
}
.no-activeTab{
    flex: 1;
}