.tabs-nav {
    display: flex;
    flex-direction: column;
    flex: 1
}

.tab-types-options {
     flex: 1
}

.tabs {
    display: flex;
}

.commit-point {
    display: flex;
    margin: 20px
}

.details-button {
    flex: 1;
    background: whitesmoke;
    margin: 5px;
    width: fit-content;
}

.tab {
    flex: 1 1 150px;
    margin: 1px;
}

.tab-mod {
    display: flex;
    flex-direction: row
}

.tab-button {
    min-width: 0;
    max-width: 150px;
}

.indicator-button {
    flex: 1;
    height: 5px;
}

.bg-green {
    background-color: green
}

.bg-orange {
    background-color: orange
}

.bg-red {
    background-color: red
}

.bg-blue {
    background-color: blue
}
